.card_container {
  border: 0.7px solid lightgrey;
  height: auto;
  width: 290px;
  background-color: #f5f5f5;
  margin-bottom: 10px;
}

.image_box {
  border-radius: 5px;
  padding: 2px;
}

.image_box > img {
  width: 100%;
  height: auto;
  background-size: cover;
  vertical-align: middle;
}

.user_info_box {
  background-color: #fff;
  border: 0.7px solid lightgrey;
  padding: 15px 0;
}

.user_info_box > .user_name,
.email_box,
.mobile_box,
.websit_box {
  font-weight: 500;
  text-align: left;
  margin: 0px 20px;
  margin-bottom: 5px;
  color: #000;
  display: flex;
  justify-content: left;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.user_info_box > .email_box,
.mobile_box,
.websit_box {
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
}

.user_info_box > .email_box {
  word-break: break-all;
}
.user_info_box > .websit_box {
}

.email_icon,
.phone_icon,
.world_icon {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.buttons_box {
  border: 0.7px solid lightgrey;
  padding: 12px 0;
  display: flex;
  justify-content: space-around;
}

.like_icon,
.edit_icon,
.delete_icon {
  color: grey;
  cursor: pointer;
}

.like_icon {
  color: red;
}

.edit{
  width: 30%;
  border-left:0.9px solid lightgrey;
  border-right:0.9px solid lightgrey;
}

.edit_icon:hover {
  color: dodgerblue;
}
.delete_icon:hover {
  color: dodgerblue;
}

h3,
p,
s {
  padding: 0;
  margin: 0;
}

@media (width<500px) {
  .card_container{
    padding:0;
    margin-bottom:10px;
  }
  }
